{% extends 'school/base.html' %}

{% load static %}
{% load bootstrap4 %}
{% block content %}  

  <main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>О нас</h2>
        <p>МБОУ «Хаттунинская СОШ» - образовательное учреждение, ориентированное на подготовку обучающихся к активному интеллектуальному труду, творческой и исследовательской деятельности в различных областях наук на основе интеграции содержания гуманитарного образования. </p>
      </div>
    </div>


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/b.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Директор школы, Тайсумова Зура Сурхоевна, создала положительную психологическую атмосферу в школе, что играет немаловажную роль для повышения качества образования. Правильно выстроила систему управления, а также систему повышения качества обучения и обученности. </h3>
            <p class="fst-italic">
              Школа создана в 1979 году.<br>
              Система образования представлена следующими элементами: содержание, преподавание, учебная деятельность, в каждый из которых включено воспитание как процесс формирования понятия "культура". Основное концептуальное положение: формирование у школьников понимания жизни как величайшей ценности.

            </p>
            <p class="fst-italic">
              Деятельность МБОУ «Хаттунинская СОШ» отмечена многими достижениями педагогов и учащихся. Многие педагоги неоднократно принимали участие во многих профессиональных конкурсах и соревнованиях школьного и муниципального уровней. Систематически повышают свое профессиональное мастерство, активно занимаются самоообразованием. Большая часть педагогических работников имеют первое и высшее категории, двое имеют звание «Почетный работник сферы образования РФ»<br>
              Обучающиеся МБОУ «Хаттунинская СОШ» принимают самое активное участие в олимпиадном движении. Так, в прошедшем в 2022-2023 учебном году выпускница 11 класса Тазуркаева Шовда заняла 1 место в университетской олимпиаде по немецкому языку, а второе место – Альбекова Амина.Также ежегодно в муниципальном этапе предметной олимпиады обучающиеся школы занимают призовые места.

            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Полное наименование: Муниципальное бюджетное общеобразовательное учреждение "Хаттунинская средняя общеобразовательная школа"</li>
              <li><i class="bi bi-check-circle"></i> Краткое наименование: МБОУ "Хаттунинская СОШ"</li>
              <li><i class="bi bi-check-circle"></i> Дата создания ОУ: 10.12.1979</li>
            </ul>
            <p>
              Сегодня наш образовательный комплекс реализует программы общего и дополнительного образования.
            </p>

          </div>
        </div>

      </div>
    </section>

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <h2>ОБРАЩЕНИЕ ДИРЕКТОРА</h2>
            <h3>Уважаемые посетители, рада приветствовать вас на сайте МБОУ "Хаттунинская СОШ", где вы можете узнать о традициях школы, о наших достижениях.         </h3>
            <p class="fst-italic">
              Школа впервые гостеприимно распахнула свои двери в 1979 году. За время работы  сложился творческий коллетив, который стремится создать комфортные условия для обучения, воспитания и развития детей. В школе огромное внимание уделяется спорту и здоровому образу жизни.<br>
              любим наших детей, переживаем за них и гордимся ими. Я благодарю педагогический коллектив, всех сотрудников, учащихся школы за труд, учебу, преданность своему делу и любимой школе. И надеюсь, что знакомство с нашей школой будет для Вас интересной.
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <img src="{% static 'img/dir.jpeg' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    

  </main>

{% endblock content %}